c#/Libraries/LogicaEmpleados/ClienteServicioEmpleados/Connected Services/ServiceEmpleados/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LogicaEmpleados.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LogicaEmpleados.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empleado" nillable="true" type="tns:Empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleado" nillable="true" type="tns:ArrayOfEmpleado" />
  <xs:complexType name="Empleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="Oficio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
</xs:schema>