c#/Libraries/LogicaEmpleados/ClienteServicioEmpleados/Connected Services/ServiceEmpleados/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60206/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:60206/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LogicaEmpleados.Models" />
  <xs:element name="GetOficios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOficiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOficiosResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpleadosOficio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oficio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpleadosOficioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LogicaEmpleados.Models" minOccurs="0" name="GetEmpleadosOficioResult" nillable="true" type="q2:ArrayOfEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>